@model IEnumerable<WardrobeCloset.Models.Top>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12" style="border:1px solid black;">
        <h2 style="text-align:center;">Tops</h2>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 tops" style="border:0px;">
            <div class="thumbnail" style="border:0px;">
                <img src="@Url.Content(item.Photo)" />
                <div class="caption">
                    <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(modelItem => item.Name)
                    <p>@Html.DisplayNameFor(model => model.ClothingType): @Html.DisplayFor(modelItem => item.ClothingType)</p>
                    <p>@Html.DisplayNameFor(model => model.Favorite): @Html.DisplayFor(modelItem => item.Favorite)</p>
                    <p>@Html.DisplayNameFor(model => model.Dirty): @Html.DisplayFor(modelItem => item.Dirty)</p>
                    <p>@Html.DisplayNameFor(model => model.Outfit.OutfitName): @Html.DisplayFor(modelItem => item.Outfit.OutfitName)</p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TopsID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TopsID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TopsID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>
